/* 导航栏 */
.navbar{
  background-color: #00addc;
  padding: 0
}
.navbar img{
  max-width: 50px;
  height:auto;
  margin-right:20px;
  vertical-align: middle;
}
.navbar span{
  font-size: 20px;
  font-weight: bold;
  color:white;
  vertical-align: middle;
  margin-right: 30px;
}
.navbar a,.navbar a:hover{
  color: white;
  font-size: 16px;
  margin: 0 20px;
}
.nav-tabs{
  border: none !important;
}
.nav-tabs .active{
  color:white !important;
  background-color: #89cff0 !important;
  border: none !important;
  border-radius: 5px;
}