*{margin: 0px;padding: 0;-webkit-text-size-adjust: none}
body{
  background-color: #FAFAFA
}
ul,li{list-style: none;}
a{text-decoration: none;}
.section-title{
  color: #00addc;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  margin: 15px auto;
  text-align: center;
}
/* 热映电影 */
.hot,.top,.search-list{
  margin: 20px 0px;
}
.hot img,.top img,.search-list img{
  max-width: 100px;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
}
.hot div,.top div,.search-list div{
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  max-width: 150px;
}
.hot h1,.top h1,.search-list h1{
  font-size: 16px;
  font-weight: bolder;
}
.hot p,.top p,.search-list p{
  margin:5px 0;
  color: gray;
  word-wrap:break-word;
}
/* Top250 */
.pagination{
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 20px 0;
}
.pagination ul{
  margin: auto;
  text-align: center;
}
.pagination li{
  font-size: 14px;
  display: inline-block;
  margin: 0 2px;
  background-color: #00addc;
  color: white;
  border-radius: 5px;
  padding: 2px 0;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.pagination .broader-page{
  width: 50px;
  padding: 2px 3px;
}
.activePage{
  border:1px solid #00addc !important;
  background-color: white !important;
  color:#00addc !important
}
/* 电影搜索 */
.search-box{
  text-align: center;
  font-size:14px;
  line-height: 20px;
  margin: 5px 0 10px 0;
}
.search-box input:hover,.search-box input{
  border: 1px solid #00addc !important;
  height: 30px;
}
.search-box input:nth-child(1){
  background-color: white;
  padding-left:5px;
}
.search-box input:nth-child(2){
  background-color:#00addc;
  color: white;
  padding: 0 5px;
  font-weight: bold;
}